.DS_Store
**/.DS_Store
__pycache__/
.pytest_cache/
*.pyc
playground/
**.idea/
.coverage*
build/
dist/
Exacto.egg-info/
docs/.ipynb_checkpoints/
target/
docs/_site
docs/.quarto/
docs/cli/*
!docs/cli/index.qmd
Cargo.lock
.nojekyll
*.nextflow.log*
**/.nextflow/
references/
tasks/
CLAUDE.md